body {
  margin: 0;
  background-color: #212121;
  color: #efefef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.light-mode {
  background: #fff;
  color: #212121;
}
body.light-mode .light-text {
  display: none;
}
body.light-mode .gamecontainer,
body.light-mode .gameinfo-container,
body.light-mode .footer {
  background: #efefef;
}
body.light-mode .gamecontainer > *:not(a),
body.light-mode .gameinfo-container > *:not(a),
body.light-mode .footer > *:not(a) {
  color: #131313;
}
body.light-mode input[type="number"] {
  background: #fff;
  color: #000;
}
body.light-mode .grid_item {
  background: #d5d5d5;
}
body.light-mode .grid_item.revealed {
  background-color: #efefef;
}
body.light-mode .switch-mode-btn,
body.light-mode button {
  color: #fff;
  background: #868686;
}
body.dark-mode .dark-text {
  display: none;
}
body.dark-mode .switch-mode-btn {
  color: #fff;
  background: #3b3838;
}
#content-wrapper {
  max-width: 1200px;
  /* transform: scale(1);
   transform-origin: left top; */
  /* max-width: 1200px;*/
  margin: 0 auto;
  padding: 25px;
}
.popup {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  color: #000;
  z-index: 1;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.popup.show {
  display: flex;
}
.popup p {
  margin-top: 0;
  font-size: 25px;
}
.popup .popup-btn {
  border-radius: 3px;
  font-size: 20px;
  padding: 8px 45px;
  background: #868686;
  color: #fff;
  border: none;
  margin-top: 15px;
}
.popup .close-btn {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 33px;
}
.footer {
  background-color: #131313;
  text-align: center;
  margin: auto;
  padding: 25px;
  margin-top: 20px;
}
.footer a {
  color: #3161ff;
}
.header {
  padding: 20px;
}
.header button {
  background-color: black;
  color: #e4e4e4;
  font-size: large;
}
.header div {
  font-size: large;
}
.headline-wrapper {
  padding: 20px;
}
@media screen and (min-width: 650px) {
  .headline-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.gameinfo {
  text-align: center;
  margin-bottom: 40px;
}
.button {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  font-weight: 600;
  line-height: normal;
  padding: 15px 50px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.button:hover {
  color: #fff;
  background-color: #1A1A1A;
}
.gamecontainer {
  margin: 0 auto 15px;
  background-color: #131313;
}
.gamecontainer > * {
  color: #E4E4E4;
}
.gameinfo-container {
  padding: 10px 15px;
  background-color: #131313;
}
.gameinfo-container .gameinfo {
  padding-top: 15px;
  margin-bottom: 15px;
}
.gameconfig {
  display: flex;
  padding: 0px 0px 20px;
  justify-content: center;
}
.playfield-wrapper {
  margin: 0 auto;
}
.playfield {
  /*  height: fit-content;
    margin: auto; */
  transform-origin: center top;
  /* transform-origin: top center; */
  width: 100%;
  transition: transform 0.3s ease-in-out;
  /* Sanfte Übergänge bei der Skalierung */
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
}
.grid_item {
  background-color: #444444;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  transition: all 300ms cubic-bezier(0.5, 1, 0.5, 1);
}
.grid_item.revealed {
  background-color: #a7a7a7;
  color: #212121;
}
.grid_item:hover:not(.marked):not(.mine):not(.revealed) {
  background-color: #1A1A1A;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: auto;
  padding: 2px 4px;
  white-space: nowrap;
}
.marked {
  background-color: #442727;
}
.mine {
  background-color: red;
}
input[type="number"] {
  width: 50px;
  font-size: 16px;
  padding-left: 6px;
  background-color: #212121;
  color: #d6d6d6;
  border: 0px;
}
.switch-mode-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
}
